<!DOCTYPE html>
<html>
    <head>
        <link href ="css/style.css" rel ="stylesheet">
    </head>
    <body> 
        <div class="container">
        <h2>Your Credentials</h2><hr>
        <div class="table-responsive">
            <table class="table">   <!-- creating a table -->
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Street Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Cell Phone</th>
                        <th>Work Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <%phonebook.each do |contacts| %> <!-- brings back the deta in the front page -->
                    <tr>
                        <td><%=contacts["full_name"]%></td>  <!-- brings back the first_name in the table -->
                        <td><%=contacts["street_address"]%></td>
                        <td><%=contacts["city"]%></td>
                        <td><%=contacts["state"]%></td>
                        <td><%=contacts["zipcode"]%></td>
                        <td><%=contacts["cell_phone"]%></td>
                        <td><%=contacts["work_phone"]%></td>
                    </tr>
                </tbody>
            <%end%>
        </table>
        </div>
        </div>
    </body>
</html>