<!DOCTYPE html>
<html>
    <head>
	    <link href ="css/style.css" rel ="stylesheet"> <!-- links the css folder -->
    </head>
    <h2>Your Detail Informations</h2><p>
<body> 
    <hr>
    <table>   <!-- creating a table -->
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
               <!--  <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Cell Phone</th>
                <th>Home Phone</th>
                <th>Work Phone</th> -->
            </tr>
        </thead>
        <tbody>
            <%list.each do |contacts| %> <!-- brings back the deta in the front page -->
            <tr>
                <td><%=contacts["first_name"]%></td>  <!-- brings back the first_name in the table -->
                <td><%=contacts["last_name"]%></td>
               <!--  <td><%=contacts["street_address"]%></td>
                <td><%=contacts["city"]%></td>
                <td><%=contacts["state"]%></td>
                <td><%=contacts["zipcode"]%></td>
                <td><%=contacts["cell_phone"]%></td>
                <td><%=contacts["home_phone"]%></td>
                <td><%=contacts["work_phone"]%></td>  -->
            </tr>
        </tbody>
    <%end%>
    </table>
</body>
</html>